@font-face {
    font-family: 'IBM 3270 Condensed';
    src: url('css/font/ibm-3270/3270Condensed.eot');
    src: local('IBM 3270 Condensed'), local('3270Condensed'),
        url('css/font/ibm-3270/3270Condensed.eot?#iefix') format('embedded-opentype'),
        url('css/font/ibm-3270/3270Condensed.woff2') format('woff2'),
        url('css/font/ibm-3270/3270Condensed.woff') format('woff'),
        url('css/font/ibm-3270/3270Condensed.ttf') format('truetype'),
        url('css/font/ibm-3270/3270Condensed.svg#3270Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM 3270';
    src: url('css/font/ibm-3270/3270-Regular.eot');
    src: local('IBM 3270'), local('3270-Regular'),
        url('css/font/ibm-3270/3270-Regular.eot?#iefix') format('embedded-opentype'),
        url('css/font/ibm-3270/3270-Regular.woff2') format('woff2'),
        url('css/font/ibm-3270/3270-Regular.woff') format('woff'),
        url('css/font/ibm-3270/3270-Regular.ttf') format('truetype'),
        url('css/font/ibm-3270/3270-Regular.svg#3270-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM 3270 Semi-Condensed';
    src: url('css/font/ibm-3270/3270SemiCondensed.eot');
    src: local('IBM 3270 Semi-Condensed'), local('3270SemiCondensed'),
        url('css/font/ibm-3270/3270SemiCondensed.eot?#iefix') format('embedded-opentype'),
        url('css/font/ibm-3270/3270SemiCondensed.woff2') format('woff2'),
        url('css/font/ibm-3270/3270SemiCondensed.woff') format('woff'),
        url('css/font/ibm-3270/3270SemiCondensed.ttf') format('truetype'),
        url('css/font/ibm-3270/3270SemiCondensed.svg#3270SemiCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

